.sidebar-container {
  display: flex;
  flex-direction: column;
  position: fixed;
  left: 0;
  top: 56px;
  bottom: 0;
  width: 70px;
  z-index: 99;
  text-align: center;
}

.sidebar-card-container {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
}

.home-icon, .explore-icon, .subscriptions-icon, .originals-icon, .youtube-music-icon, .library-icon {
  height: 24px;
  width: 24px;
}

.sidebar-card-container:hover {
  background-color: rgb(233, 233, 233);
}
p {
  font-size: 10px;
}