.super-container {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  gap: 17px;
  margin-top: 56px;
  margin-left: 70px;
  min-width: 0;
  padding: 25px;
  border-top: 1px solid rgb(211, 211, 211);
  background-color: rgba(211, 211, 211, 0.1);
}

.video-card {
  width: 296px;
  min-width: 0;
  flex: auto;
}

.thumbnail {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
  cursor: pointer;
}

.video-info-grid {
  display: flex;
}

.channel-pic-container {
  margin-right: 10px;
}

.channel-pic {
  height: 36px;
  width: 36px;
  border-radius: 18px;
  cursor: pointer;
}

.video-title {
  font-size: 14px;
  font-weight: 600;
  color: black;
  margin-bottom: 10px;
  line-height: 20px;
  cursor: pointer;
}

.video-title-link {
  text-decoration: none;
  color: black;
}

.video-author {
  font-size: 12px;
  color: rgb(95, 92, 87);
  margin-bottom: 5px;
  cursor: pointer;
}

.video-author-link {
  color: rgb(95, 92, 87);
  text-decoration: none;
}

.video-stats {
  font-size: 12px;
  color: rgb(95, 92, 87);
}


